[submodule "Simulatrix/vendor/spdlog"]
	path = Simulatrix/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Simulatrix/vendor/GLFW"]
	path = Simulatrix/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Simulatrix/vendor/imgui"]
	path = Simulatrix/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Simulatrix/vendor/glm"]
	path = Simulatrix/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Simulatrix/vendor/assimp"]
	path = Simulatrix/vendor/assimp
	url = https://github.com/assimp/assimp
